---
import { Image, Picture } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

//SVGs
import ServiceSVG from '../assets/images/svg_service.svg';
import CotizadorSVG from '../assets/images/svg_cotizador.svg';
import ModelosSVG from '../assets/images/svg_modelos.svg';
import RepuestosSVG from '../assets/images/svg_repuestos.svg';



import SwiperUsados from '../components/SwiperUsados';
import ModelosTabSliderComponent from '../components/ModelosTabSliderComponent.jsx';

import srcBannerimg from "../assets/images/banner-index.jpeg";
import Slider from '../components/Slider.astro';

---

<Layout title="Toyota | Derka y Vargas">

	<main class="main">
		<!--======================= SCROLL-ARROW =======================-->
		<button class="scroll-arrow">
		  <i class="ri-arrow-up-s-line"></i>
		</button>
  
		<!--======================= HOME =======================-->
		<section class="home" id="home">
		  <Slider groupId={9}/>
		</section>
  
		<!--======================= VEHICLES =======================-->
		<section class="vehicles section" id="catalog">
		  <div class="container">
			<h1 class="vehicles__title heading-1">Explorar los vehículossss</h1>
  
			<div class="vehicles__catalog catalog">
				<ModelosTabSliderComponent client:load />
			</div>

		  </div>
		</section>
  
		<section class="services section">
		  <div class="container">
			<h1 class="about__title heading-1">¿En qué podemos ayudarte?</h1>
  
			<div class="services__container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
			  <div class="services__content">
				<Image src={ServiceSVG} alt="Svg de Service" class="services__img"/>
				<a href="#" >
				  <h3 class="services__title">Solicitar un servicio</h3>
				</a>
			  </div>
  
			  <div class="services__content">
				<Image src={CotizadorSVG} alt="Svg de Cotizador" class="services__img"/>
				<a href="https://dyv.e.toyota.com.ar/inventory">
				  <h3 class="services__title">Personalizar y cotizar</h3>
				</a>
  
				<span class="border"></span>
			  </div>
  
			  <div class="services__content">
				<Image src={ModelosSVG} alt="Svg de Modelos" class="services__img"/>
				<a href="/modelos/">
				  <h3 class="services__title">Ver modelos nuevos</h3>
				</a>
			  </div>
  
			  <div class="services__content">
				<Image src={RepuestosSVG} alt="Svg de Respuestos" class="services__img"/>
				<a href="#">
				  <h3 class="services__title">Comprar repuestos</h3>
				</a>
			  </div>
			</div>
		  </div>
		</section>
		
		<section class="section">
			<div class="relative w-full">
				<Picture 
					src={srcBannerimg} 
					formats={['avif', 'webp']}
					widths={[400, 800, 1200]}
					sizes="(max-width: 500px) 400px, (max-width: 768px) 800px, 1200px"
					alt="Imagen de banner"
					class="w-full object-cover h-[400px] md:h-[800px] lg:h[1200px] xl:h-full ukiyo"
				/>
				<div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent"></div>
				<div class="absolute top-20 left-0 right-0 text-center px-4 sm:px-6 pb-6 sm:pb-8 md:pb-10 lg:pb-12" data-aos="fade-up">
					<h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-white mb-2 sm:mb-3 md:mb-4">
						Conocé la nueva Toyota Hilux
					</h1>
					<p class="text-white text-sm sm:text-base md:text-lg mb-2 sm:mb-3 md:mb-4">
						La pick-up más vendida de Argentina
					</p>
					<a 
						href="https://dyv.e.toyota.com.ar/inventory" 
						class="inline-block about__link text-sm sm:text-base md:text-lg"
					>
						Conocer más
					</a>
				</div>
			</div>
			
		</section>
		
		<!--======================= ABOUT =======================-->
		<section class="about section">
		  <div class="container">
			<!--<h1 class="about__title heading-1">
						  About Toyota
				</h1>-->
			<!--E toyota -->
			<div class="about__inner about__inner_company">
			  <div class="about__info">
				<h5 class="about__span">Conocé e-Toyota</h5>
				<h5 class="about__subtitle">Tu toyota a tu medida</h5>
				<div class="about__text">
				  Buscá el modelo y versión que más te guste. Simulá tu
				  cotización entregando un usado o con financiación. Disfrutá de
				  la forma más rápida y simple de iniciar el camino a tu nuevo
				  Toyota.
				</div>
				<a class="about__link" href="https://dyv.e.toyota.com.ar/inventory"> Cotizá online ahora </a>
			  </div>
			  <div class="about__img-wrapper">
				<!--<img
					class="about__img"
					src="images/e-toyota.png"
					alt="Toyota"
				  />-->
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ZC74ooNLpF8?si=TOdE5Zgu_Mzt0iJQ"
				  title="YouTube video player" frameborder="0"
				  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			  </div>
			</div>
			<!--Gazoo Racing -->
			<div class="about__inner about__inner_leadership">
			  <div class="about__info">
				<h5 class="about__span">Pushing the limits for better</h5>
				<h5 class="about__subtitle">Toyota Gazoo Racing Argentina</h5>
				<div class="about__text">
				  Toyota Gazoo Racing representa el compromiso de Toyota de superar todos los límites para crear vehículos cada vez mejores.
				</div>
				<a class="about__link__gr" href="#!"> Conocer más </a>
			  </div>
			  <div class="about__img-wrapper">
				<img class="about__img ukiyo" src="images/gr.jpg" alt="Leadership" />
			  </div>
			</div>
			<!--Kinto Share -->
			<div class="about__inner about__inner_company">
			  <div class="about__info">
				<h5 class="about__span">Tené siempre un Toyota</h5>
				<h5 class="about__subtitle">Kinto Share</h5>
				<div class="about__text">
				  La solución de movilidad más conveniente, inteligente y confiable que se adapta a tus necesidades. Alquila un Toyota por el tiempo que quieras y en el lugar que más te convenga.
				</div>
				<a class="about__link" href="#!"> Conocer más </a>
			  </div>
			  <div class="about__img-wrapper">
				<img class="about__img" src="images/kinto.webp" alt="Toyota" />
			  </div>
			</div>
		  </div>
		</section>
		<!-- Slider main container -->
  
		<!--======================= NOVEDADES =======================-->
		<section class="section cards__container">
			<div class="container">
				<h1 class="vehicles__title heading-1">Explorar los vehículos usados</h1>
				<SwiperUsados client:load />
			</div>
		</section> 
	  </main>
	   
</Layout>