---
interface Props {
  currentModel: string;
  currentColor: string;
  currentProduct: string;
}
const { currentColor, currentProduct, currentModel } = Astro.props;    
---
<!--<div class="viewer bg-white shadow-lg rounded-md p-4 mb-4" id="productViewer">
    <div id="spinner" class="spinner"></div>
    <img src=`/images/modelos/${currentModel}/${currentProduct}/${currentColor}/4.png` alt="Producto en 360" id="productImage" style="display:none;">
</div>
  
<div class="flex space-x-4">
    <button class="bg-white text-black px-4 py-2 rounded" data-color="white">Blanco</button>
    <button class="bg-red-500 text-white px-4 py-2 rounded" data-color="green">Rojo</button>
</div>-->

<div class="viewer bg-white rounded-md" id="productViewer">
    <div id="spinner" class="spinner"></div>
    <img src=`/images/modelos/${currentModel}/${currentProduct}/${currentColor}/4.png` alt="Producto en 360" id="productImage">
</div>
<div class="indicador-arrastre">
  <i class="ri-arrow-left-s-line"></i> Arrastre para girar <i class="ri-arrow-right-s-line"></i>
</div>
<div class="flex gap-3">
    <button class="inline-block align-middle text-center select-none border-2 border-500-gray font-normal whitespace-no-wrap py-3 leading-normal no-underline bg-red-600 text-white px-3 rounded-full" data-color="red"></button>
    <button class="inline-block align-middle text-center select-none border-2 border-500-gray font-normal whitespace-no-wrap py-3 leading-normal no-underline bg-gray-200 text-white px-3 rounded-full" data-color="white"></button>
    <button class="inline-block align-middle text-center select-none border-2 border-500-gray font-normal whitespace-no-wrap py-3 leading-normal no-underline bg-gray-700  text-white px-3 rounded-full" data-color="gray"></button>
    <button class="inline-block align-middle text-center select-none border-2 border-500-gray font-normal whitespace-no-wrap py-3 leading-normal no-underline bg-gray-400 text-white px-3 rounded-full" data-color="silver"></button>
    <button class="inline-block align-middle text-center select-none border-2 border-500-gray font-normal whitespace-no-wrap py-3 leading-normal no-underline bg-black text-white px-3 rounded-full" data-color="black"></button>
    <button class="inline-block align-middle text-center select-none border-2 border-500-gray font-normal whitespace-no-wrap py-3 leading-normal no-underline bg-gray-300 text-white px-3 rounded-full" data-color="white-perl"></button>
    <button class="inline-block align-middle text-center select-none border-2 border-500-gray font-normal whitespace-no-wrap py-3 leading-normal no-underline bg-sky-900 text-white px-3 rounded-full" data-color="blue"></button>
</div>
<div class="colors mb-5">
  <span id="colorName">Color seleccionado: </span>
</div>
  <style>
    .indicador-arrastre {
        font-style: italic;
        font-size: 14px;
        color: color-mix(in srgb, var(--default-color), transparent 50%);
    }
.viewer {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.viewer img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 1024px) {
  .viewer {
    height: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .viewer {
    height: 250px;
  }
}

@media screen and (min-width: 1536px) {
  .viewer {
    height: 400px;
  }
}

.viewer:active {
  cursor: grabbing;
}
/* Spinner para mostrar mientras se cargan las imágenes */
.spinner {
  border: 8px solid #f3f3f3; /* Gris claro */
  border-top: 8px solid #eb0a1e; /* Azul */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilos para las tabs */
.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  padding: 0 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  
}

.tab:first-child {
  margin-left: 0;
}

.tab:last-child {
  margin-right: 0;
  border-right: none;
} 

.tab:hover {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.tab.active {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

/*Tabs Especificaciones*/

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Transición de contenido */
.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade.show {
  opacity: 1;
}
  </style>
  
  <script is:inline define:vars={{currentModel, currentColor, currentProduct}}>
    
    let currentModelAux = currentModel;
    let currentColorAux = currentColor;
    let currentProductAux = currentProduct;


    let currentFrame = 4; // Frame inicial
    const totalFrames = 30; // Total de frames
    let isDragging = false; // Bandera para saber si se está arrastrando
    let startX = 0; // Posición inicial del mouse
    let accumulatedMovement = 0; // Movimiento acumulado para mayor precisión
    const frameChangeThreshold = 20; // Ajustamos el umbral para hacer el touch más suave
    const productImage = document.getElementById('productImage');
    /*let currentColor = 'red'; // Color inicial
    let currentProduct = 'XS'; // Producto inicial*/
    let imagesLoaded = false; // Bandera para saber si las imágenes se han cargado
    const colorName = document.getElementById('colorName'); // Elemento para mostrar el nombre del color

    // Preload de todas las imágenes
    let imageCache = {};
    let imagesToLoad = [];

    function preloadImages() {
      imagesToLoad = []; // Reiniciamos las imágenes a cargar
      for (let i = 1; i <= totalFrames; i++) {
        const imgSrc = `/images/modelos/${currentModelAux}/${currentProductAux}/${currentColorAux}/${i}.png`;
        imagesToLoad.push(imgSrc);
      }

      loadNextImage(); // Iniciar la precarga
    }

    function loadNextImage() {
      if (imagesToLoad.length === 0) {
        // Todas las imágenes se han cargado
        document.getElementById('spinner').style.display = 'none';
        productImage.style.display = 'block';
        imagesLoaded = true;
        return;
      }

      const nextImageSrc = imagesToLoad.shift();
      const img = new Image();
      img.src = nextImageSrc;

      img.onload = function() {
        imageCache[nextImageSrc] = img;
        loadNextImage(); // Recursivamente cargar la siguiente imagen
      };

      img.onerror = function() {
        console.error('Error cargando la imagen:', nextImageSrc);
        loadNextImage(); // Continuar cargando las siguientes aunque falle una
      };
    }

    // Ejecutar la precarga de imágenes cuando se carga la página
    window.onload = function() {
      preloadImages();
    };

    productImage.addEventListener('dragstart', (event) => {
      event.preventDefault(); 
    });

    const viewer = document.getElementById('productViewer');

    // --- Controladores para el mouse ---
    viewer.addEventListener('mousedown', (event) => {
      if (!imagesLoaded) return; // No permitir interacción hasta que las imágenes se carguen
      isDragging = true;
      startX = event.pageX;
      viewer.style.cursor = "grabbing";
      productImage.style.transition = 'transform 0s'; //  Desactivar la transición para un arrastre más suave
    });

    viewer.addEventListener('mouseup', () => {
      isDragging = false;
      viewer.style.cursor = "grab";
    });

    viewer.addEventListener('mouseleave', () => {
      isDragging = false;
      viewer.style.cursor = "grab";
    });

    viewer.addEventListener('mousemove', (event) => {
      if (isDragging) {
        const diff = event.pageX - startX;
        handleMouseDrag(diff);
        startX = event.pageX;
      }
    });

    function handleMouseDrag(diff) {
      accumulatedMovement += diff;

      if (Math.abs(accumulatedMovement) > frameChangeThreshold) {
        const framesToMove = Math.floor(Math.abs(accumulatedMovement) / frameChangeThreshold);
        currentFrame += (diff > 0) ? -framesToMove : framesToMove;

        if (currentFrame > totalFrames) currentFrame = 1;
        if (currentFrame < 1) currentFrame = totalFrames;

        updateImage();
        accumulatedMovement = accumulatedMovement % frameChangeThreshold;
      }
    }

    // --- Controladores para dispositivos táctiles (touch) ---
    viewer.addEventListener('touchstart', (event) => {
      if (!imagesLoaded || event.touches.length !== 1) return; // No permitir interacción hasta que las imágenes se carguen
      isDragging = true;
      startX = event.touches[0].pageX; // Capturamos la posición inicial del primer toque
      accumulatedMovement = 0; // Reiniciamos el acumulador de movimiento
    });

    viewer.addEventListener('touchend', () => {
      isDragging = false; // El usuario ha dejado de arrastrar, reseteamos el arrastre
    });

    viewer.addEventListener('touchmove', (event) => {
      if (isDragging && event.touches.length === 1) {
        const diff = event.touches[0].pageX - startX; // Calculamos la diferencia entre la posición inicial y la actual
        handleTouchDrag(diff);
        startX = event.touches[0].pageX; // Actualizamos la posición inicial al nuevo punto de arrastre
      }
    });

    function handleTouchDrag(diff) {
      accumulatedMovement += diff;

      if (Math.abs(accumulatedMovement) > frameChangeThreshold) {
        const framesToMove = Math.floor(Math.abs(accumulatedMovement) / frameChangeThreshold);
        currentFrame += (diff > 0) ? -framesToMove : framesToMove;

        if (currentFrame > totalFrames) currentFrame = 1;
        if (currentFrame < 1) currentFrame = totalFrames;

        updateImage();
        accumulatedMovement = accumulatedMovement % frameChangeThreshold;
      }
    }

    function updateImage() {
      productImage.src = `/images/modelos/${currentModelAux}/${currentProductAux}/${currentColorAux}/${currentFrame}.png`;
    }

    // Cambiar de Versión cuando se hace clic en una tab
    const tabs = document.querySelectorAll('.tab');
    tabs.forEach(tab => {
      tab.addEventListener('click', () => {
        tabs.forEach(t => t.classList.remove('active')); // Remover la clase "active" de todas las tabs
        tab.classList.add('active'); // Activar la tab seleccionada

        currentProductAux = tab.getAttribute('data-product'); // Cambiar al producto seleccionado // Reiniciar el color
        imagesLoaded = false; // Marcar las imágenes como no cargadas
        document.getElementById('spinner').style.display = 'block'; // Mostrar el spinner
        productImage.style.display = 'none'; // Ocultar la imagen actual
        currentFrame = 4; //Reiniciar el frame
        updateCarInfo(); // Actualizar la información del auto
        preloadImages(); // Cargar las imágenes del nuevo producto
        updateImage(); // Actualizar la imagen
      });
    });

    
    // Función para cambiar el color seleccionado
    function colorSelected(color) {
      if (color === 'red') {
        if (currentModelAux === 'yaris-hatchback'){
          colorName.innerText = 'Color seleccionado: Negro Mica';
        }
      } else if (color === 'black') {
        colorName.innerText = 'Color seleccionado: Negro Mica';
      } else if(color === 'white'){
        colorName.innerText = 'Color seleccionado: Super Blanco';
      } else if(color === 'gray'){
        colorName.innerText = 'Color seleccionado: Gris Oscuro';
      } else if(color === 'silver'){
        colorName.innerText = 'Color seleccionado: Gris Plata';
      } else if(color === 'blue'){
        colorName.innerText = 'Color seleccionado: Gris Azulado';
      } else if(color === 'white-perl'){
        colorName.innerText = 'Color seleccionado: Blanco Perlado';
      }

    }

    // Cambiar color y recargar imágenes
    const colorButtons = document.querySelectorAll('button[data-color]');
    colorButtons.forEach(button => {
      button.addEventListener('click', () => {
        currentColorAux = button.getAttribute('data-color');
        colorSelected(currentColorAux);
        preloadImages(); // Cargar las imágenes del nuevo color
        updateImage(); // Actualizar la imagen
      });
    });


        //Tabs de las especificaciones
        function openTab(tabName) {
            let i,tabcontent, tablinks;
      
            // Ocultar todo el contenido de las tabs
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
              if (tabcontent[i].id !== tabName) {
                tabcontent[i].classList.remove("show");
                tabcontent[i].classList.remove("active");
              } else if (tabcontent[i].id === tabName) {
                tabcontent[i].classList.add("show");
                tabcontent[i].classList.add("active");
              }
            }
            // Remover la clase 'active' de todos los botones de tabs
            tablinks = document.querySelectorAll("button");
            tablinks.forEach(function (tablink) {
              tablink.classList.remove("text-red-600", "border-red-500");
              tablink.classList.add("text-gray-500", "border-transparent");
            });
      
            // Mostrar la tab actual y agregar clase 'active'
            const element = document.getElementById(tabName);
            if (element) {
              element.classList.add("show", "active");
            }
            
            // Aplicar la clase 'active' al botón de la tab actual
            if (tabName === 'automatico') {
              const automaticoXsTab = document.getElementById("automatico-xs-tab");
              if (automaticoXsTab) {
                automaticoXsTab.classList.add("text-red-600", "border-red-500");
                automaticoXsTab.classList.remove("text-gray-500", "border-transparent");   
              }
            } else if (tabName === 'manual') {
              const manualXsTab = document.getElementById("manual-xs-tab");
              if (manualXsTab) {
                manualXsTab.classList.add("text-red-600", "border-red-500");
                manualXsTab.classList.remove("text-gray-500", "border-transparent");
              }
            } else if (tabName === 'automatico-xls') {
              const automaticoXlsTab = document.getElementById("automatico-xls-tab");
              if (automaticoXlsTab) {
                automaticoXlsTab.classList.add("text-red-600", "border-red-500");
                automaticoXlsTab.classList.remove("text-gray-500", "border-transparent");
              }
            } else if (tabName === 'manual-xls') {
              const manualXlsTab = document.getElementById("manual-xls-tab");
              if (manualXlsTab) {
                manualXlsTab.classList.add("text-red-600", "border-red-500");
                manualXlsTab.classList.remove("text-gray-500", "border-transparent");
              }
            } else if (tabName === 'automatico-xls-pack') {
              const automaticoXlsPackTab = document.getElementById("automatico-xls-pack-tab");
              if (automaticoXlsPackTab) {
                automaticoXlsPackTab.classList.add("text-red-600", "border-red-500");
                automaticoXlsPackTab.classList.remove("text-gray-500", "border-transparent");
              }
            } else if (tabName === 'automatico-s') {
              const automaticoS = document.getElementById("automatico-s-tab");
              if (automaticoS) {
                automaticoS.classList.add("text-red-600", "border-red-500");
                automaticoS.classList.remove("text-gray-500", "border-transparent");
              }
            }
          }
      
          // Asociar eventos a los botones al cargar la página
          document.addEventListener("DOMContentLoaded", function () {
      
            const automaticoXsTab = document.getElementById("automatico-xs-tab");
            if (automaticoXsTab) {
              automaticoXsTab.addEventListener("click", function () {
                openTab('automatico');
              });
            }
             
            
            const manualXsTab = document.getElementById("manual-xs-tab");
            if (manualXsTab) {
              manualXsTab.addEventListener("click", function () {
                openTab('manual');
              });
            }
      
            const automaticoXlsTab = document.getElementById("automatico-xls-tab");
            if (automaticoXlsTab) {
              automaticoXlsTab.addEventListener("click", function () {
                openTab('automatico-xls');
              });
            }
      
            const manualXlsTab = document.getElementById("manual-xls-tab");
            if (manualXlsTab) {
              manualXlsTab.addEventListener("click", function () {
                openTab('manual-xls');
              });
            }
      
            const automaticoXlsPackTab = document.getElementById("automatico-xls-pack-tab");
            if (automaticoXlsPackTab) {
              automaticoXlsPackTab.addEventListener("click", function () {
                openTab('automatico-xls-pack');
              });
            }
      
            const automaticoS = document.getElementById("automatico-s-tab");
            if (automaticoS) {
              automaticoS.addEventListener("click", function () {
                openTab('automatico-s');
              });
            }
          });
          
      
          // Actualizar la información del auto
          let manualXsTab = document.getElementById('manual-xs-tab');
          let automaticoXsTab = document.getElementById('automatico-xs-tab');
      
          let manualXlsTab = document.getElementById('manual-xls-tab');
          let automaticoXlsTab = document.getElementById('automatico-xls-tab');
          let automaticoXlsPackTab = document.getElementById('automatico-xls-pack-tab');
      
          let automaticoS = document.getElementById('automatico-s-tab');
      
          // Actualizar la información del auto
          if (manualXsTab && automaticoXsTab && manualXlsTab && automaticoXlsTab && automaticoXlsPackTab && automaticoS) {
            manualXsTab.click();
            console.log('click')
            manualXsTab.style.display = 'block';
            automaticoXsTab.style.display = 'block';
            manualXlsTab.style.display = 'none';
            automaticoXlsTab.style.display = 'none';
            automaticoXlsPackTab.style.display = 'none';
            automaticoS.style.display = 'none';
          }

          if (currentModelAux === 'yaris-hatchback'){
            manualXsTab.click();
          } else if (currentModelAux === 'yaris-sedan'){
            if (manualXlsTab){
              manualXlsTab.click();
              console.log('click');
            } else{
              console.log('no click');
            }
          }
          
           // Actualizar la información del auto
          function updateCarInfo(){
            if(currentProduct === 'XS'){
              if (manualXsTab && automaticoXsTab && manualXlsTab && automaticoXlsTab && automaticoXlsPackTab && automaticoS) { // Si los elementos existen en el DOM (no son null) entonces se ejecuta el código dentro de las llaves {}
                manualXsTab.click();
                manualXsTab.style.display = 'block';
                automaticoXsTab.style.display = 'block';
                manualXlsTab.style.display = 'none';
                automaticoXlsTab.style.display = 'none';
                automaticoXlsPackTab.style.display = 'none';
                automaticoS.style.display = 'none';
              }
            } else if(currentProduct === 'XLS'){
              if (manualXlsTab && automaticoXlsTab && automaticoXlsPackTab && automaticoS && manualXsTab && automaticoXsTab) { // Si los elementos existen en el DOM (no son null) entonces se ejecuta el código dentro de las llaves {}
                manualXlsTab.click();
                manualXlsTab.style.display = 'block';
                automaticoXlsTab.style.display = 'block';
                automaticoXlsPackTab.style.display = 'block';
                manualXsTab.style.display = 'none';
                automaticoXsTab.style.display = 'none';
                automaticoS.style.display = 'none';
              }
            } else if(currentProduct === 'S'){
              if (automaticoS && manualXsTab && automaticoXsTab && manualXlsTab && automaticoXlsTab && automaticoXlsPackTab) { // Si los elementos existen en el DOM (no son null) entonces se ejecuta el código dentro de las llaves {}
                automaticoS.click();
                automaticoS.style.display = 'block';
                manualXsTab.style.display = 'none';
                automaticoXsTab.style.display = 'none';
                manualXlsTab.style.display = 'none';
                automaticoXlsTab.style.display = 'none';
                automaticoXlsPackTab.style.display = 'none';
              }
            }
          }

          function updateCarModelColors(modelo){
            if (modelo === "yaris-sedan"){
              colorButtons.forEach(button => {
                if (button.getAttribute('data-color') === 'gray' || button.getAttribute('data-color') === 'silver' || button.getAttribute('data-color') === 'black' || button.getAttribute('data-color') === 'white-perl' || button.getAttribute('data-color') === 'blue' || button.getAttribute('data-color') === 'white') { 
                  return; // No hacer nada
                } else {
                  button.style.display = 'none'; // Ocultar el botón de color que no corresponda al modelo seleccionado
                }
              });
            } else if (modelo === "yaris-hatchback"){
              colorButtons.forEach(button => {
                if (button.getAttribute('data-color') === 'red' || button.getAttribute('data-color') === 'white' || button.getAttribute('data-color') === 'blue' || button.getAttribute('data-color') === 'black' || button.getAttribute('data-color') === 'gray' || button.getAttribute('data-color') === 'silver' || button.getAttribute('data-color') === 'white-perl') {
                  return; // No hacer nada
                } else {
                  button.style.display = 'none';  // Ocultar el botón de color que no corresponda al modelo seleccionado
                }
              });
            }
          }

          updateCarModelColors(currentModelAux);
    
  </script>