---
//import { Image } from "astro:assets"

import logo from "../assets/images/logodyv.webp"
import srcImage1 from "../assets/images/copia1.webp"
import srcImage2 from "../assets/images/copia2.webp"
import srcImage3 from "../assets/images/copia3.webp"
import srcImage4 from "../assets/images/copia4.webp"
import srcImage5 from "../assets/images/copia5.webp"
import srcImage6 from "../assets/images/copia6.webp"
import srcImage7 from "../assets/images/copia7.webp"
import srcImage8 from "../assets/images/copia8.webp"
import srcImage9 from "../assets/images/copia9.webp"
import srcImage10 from "../assets/images/copia10.webp"
import srcImage11 from "../assets/images/copia11.webp"
import srcImage12 from "../assets/images/copia12.webp"
import srcImage13 from "../assets/images/copia13.webp"
import srcImage14 from "../assets/images/copia14.webp"
import srcImage15 from "../assets/images/copia15.webp"
import srcImage18 from "../assets/images/copia16.webp"
import srcImage19 from "../assets/images/copia17.webp"
//import srcImage14 from "../assets/images/google.svg"
//import srcImage15 from "../assets/images/apple.svg"
import srcImage16 from "../assets/images/kinto-fleet.webp"
import srcImage17 from "../assets/images/kinto-personal.webp"
import srcImage20 from "../assets/images/svg_repuestos.svg"
import srcImage21 from "../assets/images/copia18.webp"

---

<header class="header">
    <nav class="nav container">
        <div class="nav__data">
            <a href="/" class="nav__logo">
                <!--<Image 
                  src="/images/logodyv.webp"
                  width={200}
                  height={50}
                  alt="Logo"
                  > -->
                <img src={logo.src} alt="Logo Derka y Vargas" loading="lazy" decoding="async" width="875" height="177">
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__toggle-menu"></i>
                <i class="ri-close-line nav__toggle-close"></i>
            </div>
        </div>

        <!--=============== NAV MENU ===============-->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                
                <li class="dropdown__item">                      
                    <div class="nav__link dropdown__button">
                        Modelos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <div class="dropdown__container">
                        <div class="dropdown__content">
                            <div class="dropdown__group">
                                <!--<div class="dropdown__icon">
                                    <i class="ri-car-fill"></i>
                                </div> -->
                                <span class="dropdown__title">Autos</span>

                                <ul class="dropdown__list">
                                    <li>
                                        <a href="/modelos/yaris-hatchback" class="dropdown__link">
                                            Yaris Hatchback
                                            <!--<Image src={srcImage1} alt=""> -->
                                            <img src={srcImage1.src} alt="Yaris Hatchback" loading="lazy" decoding="async" width="379" height="165">
                                        </a>
                                    </li>
                                    
                                    <!--<li>
                                        <a href="/modelos/yaris-sedan" class="dropdown__link">
                                            Yaris Sedán
                                            
                                              <img src={srcImage2.src} alt="Yaris Sedán" loading="lazy" decoding="async" width="400" height="155">
                                            </a>
                                        </li> -->
                                    <li>
                                        <a href="/modelos/corolla" class="dropdown__link">
                                            Corolla
                                            <!--<Image src={srcImage3} format="avif" alt=""> -->
                                            <img src={srcImage3.src} alt="Corolla" loading="lazy" decoding="async" width="415" height="161">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/modelos/corolla-hybrid" class="dropdown__link">
                                            Corolla Hybrid
                                            <!--<Image src={srcImage10} format="avif" alt=""> -->
                                            <img src={srcImage10.src} alt="Corolla Hybrid" loading="lazy" decoding="async" width="496" height="161">
                                        </a>
                                    </li>
                                    <li>
                                      <a href="/modelos/crown" class="dropdown__link">
                                          Crown
                                          <!--<Image src={srcImage10} format="avif" alt=""> -->
                                          <img src={srcImage21.src} alt="Crown" loading="lazy" decoding="async" width="426" height="156">
                                      </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                                <!--<div class="dropdown__icon">
                                    <i class="ri-roadster-fill"></i>
                                </div> -->

                                <span class="dropdown__title">Pick-Up</span>

                                <ul class="dropdown__list">
                                    <li>
                                        <a href="/modelos/hilux-cabina-simple" class="dropdown__link">
                                            Hilux Cabina Simple
                                            <!--<Image src={srcImage4} format="avif" alt=""> -->
                                            <img src={srcImage4.src} alt="Hilux Cabina Simple" loading="lazy" decoding="async" width="446" height="177">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/modelos/hilux-cabina-doble" class="dropdown__link">
                                            Hilux Cabina Doble
                                            <!--<Image src={srcImage5} format="avif" alt=""> -->
                                            <img src={srcImage5.src} alt="Hilux Cabina Doble" loading="lazy" decoding="async" width="468" height="182">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/modelos/hilux-chasis-cabina" class="dropdown__link">
                                            Hilux Chasis Cabina
                                            <!--<Image src={srcImage6} format="avif" alt=""> -->
                                            <img src={srcImage6.src} alt="Hilux Chasis Cabina" loading="lazy" decoding="async" width="467" height="183">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                                <!--<div class="dropdown__icon">
                                    <i class="ri-book-mark-line"></i>
                                </div> -->

                                <span class="dropdown__title">SUV</span>

                                <ul class="dropdown__list">
                                    <li>
                                        <a href="/modelos/corolla-cross" class="dropdown__link">
                                            Corolla Cross
                                            <!--<Image src={srcImage7} format="avif" alt=""> -->
                                            <img src={srcImage7.src} alt="Corolla Cross" loading="lazy" decoding="async" width="394" height="169">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/modelos/corolla-cross-hybrid" class="dropdown__link">
                                            Corolla Cross Hybrid
                                             <!--<Image src={srcImage7} format="avif" alt=""> -->
                                            <img src={srcImage7.src} alt="Corolla Cross Hybrid" loading="lazy" decoding="async" width="400" height="165">
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="/modelos/sw4" class="dropdown__link">
                                            SW4
                                            <!--<Image src={srcImage9} format="avif" alt=""> -->
                                            <img src={srcImage9.src} alt="SW4" loading="lazy" decoding="async" width="450" height="192">
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>

                            <div class="dropdown__group">
                                <!--<div class="dropdown__icon">
                                    <i class="ri-file-paper-2-line"></i>
                                </div> -->

                                <span class="dropdown__title">Comerciales</span>

                                <ul class="dropdown__list">
                                    <li>
                                        <a href="/modelos/hiace-furgon" class="dropdown__link">
                                            Hiace Furgón
                                            <!--<Image src={srcImage11} format="avif" alt=""> -->
                                            <img src={srcImage11.src} alt="Hiace Furgón" loading="lazy" decoding="async" width="447" height="184">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/modelos/hiace-commuter" class="dropdown__link">
                                            Hiace Commuter
                                            <!--<Image src={srcImage12} format="avif" alt=""> -->
                                            <img src={srcImage12.src} alt="Hiace Commuter" loading="lazy" decoding="async" width="466" height="195">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/modelos/hiace-wagon" class="dropdown__link">
                                            Hiace Wagon
                                            <!--<Image src={srcImage13} format="avif" alt=""> -->
                                            <img src={srcImage13.src} alt="Hiace Wagon" loading="lazy" decoding="async" width="451" height="186">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                              <!--<div class="dropdown__icon">
                                  <i class="ri-file-paper-2-line"></i>
                              </div> -->

                              <span class="dropdown__title">Deportivos</span>

                              <ul class="dropdown__list">
                                  <li>
                                    <a href="/modelos/corolla-gr-sport" class="dropdown__link">
                                        Corolla GR-Sport
                                        <!--<Image src={srcImage6} format="avif" alt=""> -->
                                        <img src={srcImage14.src} alt="Corolla GR-Sport" loading="lazy" decoding="async" width="467" height="183">
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/modelos/hilux-gr-sport-iv" class="dropdown__link">
                                        Hilux GR-Sport IV
                                        <!--<Image src={srcImage6} format="avif" alt=""> -->
                                        <img src={srcImage15.src} alt="Hilux GR-Sport IV" loading="lazy" decoding="async" width="467" height="183">
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/modelos/corolla-cross-gr-sport" class="dropdown__link">
                                        Corolla Cross GR-Sport
                                         <!--<Image src={srcImage7} format="avif" alt=""> -->
                                        <img src={srcImage18.src} alt="Corolla Cross GR-Sport" loading="lazy" decoding="async" width="400" height="165">
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/modelos/sw4-gr-sport" class="dropdown__link">
                                        SW4 GR-Sport
                                        <!--<Image src={srcImage9} format="avif" alt=""> -->
                                        <img src={srcImage19.src} alt="SW4 GR-Sport" loading="lazy" decoding="async" width="450" height="192">
                                    </a>
                                  </li>
                                  <li>
                                      <a href="/modelos" class="dropdown__link mt-10 inline-block" >
                                          Ver todos los modelos <i class="ri-arrow-right-s-line"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="/toyota-plan/" class="nav__link">Toyota Plan</a>
                </li>

                <li>
                    <a href="/usados/" class="nav__link">Usados</a>
                </li>

                <!--=============== DROPDOWN 1 ===============-->
                <li class="dropdown__item">                      
                    <div class="nav__link dropdown__button">
                        Kinto <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <div class="dropdown__container">
                        <div class="dropdown__content">
                            <div class="dropdown__group">
                                <div class="dropdown__icon_kinto">
                                    <i class="ri-smartphone-line"></i>
                                </div>
                                <span class="dropdown__title_kinto">Kinto Share</span>
                                <p class="dropdown_text pr-6">Descargá la app, registrate y reservá el modelo que quieras.</p>
                                <ul class="dropdown__list_kinto">
                                    <li>
                                        <a href="/kinto/kinto-share" class="dropdown__link inline-block">
                                            Conocer más <i class="ri-arrow-right-s-line"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                                <div class="dropdown__icon_kinto">
                                    <!--<Image src={srcImage16} format="avif" alt=""></Image> -->
                                    <img src={srcImage16.src} alt="Kinto One Fleet" loading="lazy" decoding="async" width="96" height="96">
                                </div>

                                <span class="dropdown__title_kinto">Kinto One Fleet</span>
                                <p class="dropdown_text pr-6">Buscá ofrecerle a tu empresa el alquiler de vehículos</p>
                                <ul class="dropdown__list">
                                    <li>
                                        <a href="/kinto/kinto-one-fleet" class="dropdown__link inline-block">
                                            Conocer más <i class="ri-arrow-right-s-line"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                                <div class="dropdown__icon_kinto">
                                    <!--<Image src={srcImage17} format="avif" alt=""></Image> -->
                                    <img src={srcImage17.src} alt="Kinto One Personal" loading="lazy" decoding="async" width="96" height="96">
                                </div>

                                <span class="dropdown__title_kinto">Kinto One Personal</span>
                                <p class="dropdown_text">Alquilá un vehículo bajo la modalidad de suscripción mensual.</p>
                                <ul class="dropdown__list">
                                    <li>
                                        <a href="/kinto/kinto-one-personal" class="dropdown__link inline-block">
                                            Conocer más <i class="ri-arrow-right-s-line"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="flex flex-col justify-center items-center">
                              <p class="text-base text-center">
                                ¿Querés saber más sobre Kinto? 
                              </p>
                              <a href="/kinto" class="dropdown__link my-5 inline-block" >
                                  Conocer más<i class="ri-arrow-right-s-line"></i>
                              </a>
                          </div>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="/financiacion" class="nav__link">Financiación</a>
                </li>

                <li>
                    <a href="/seguros" class="nav__link">Seguros</a>
                </li>
                <!--=============== DROPDOWN 2 ===============-->
                <li class="dropdown__item">
                    <div class="nav__link dropdown__button">
                        Posventa <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <div class="dropdown__container">
                      <div class="dropdown__content">
                        <div class="dropdown__group">
                            <div class="dropdown__icon">
                                <i class="ri-tools-line"></i>
                            </div>
                            <span class="dropdown__title">Servicio</span>
                            <p class="dropdown_text pr-6">
                                Conocé nuestros servicios de mantenimiento y reparación.
                            </p>
                            <ul class="dropdown__list">
                                <li>
                                    <a href="/servicio" class="dropdown__link inline-block">
                                        Conocer más <i class="ri-arrow-right-s-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown__group">
                            <div class="dropdown__icon">
                              <i class="ri-car-line"></i>
                            </div>

                            <span class="dropdown__title">Repuestos y Accesorios</span>
                            <p class="dropdown_text pr-6">
                                Encontrá los repuestos y accesorios originales para tu vehículo.
                            </p>
                            <ul class="dropdown__list">
                                <li>
                                    <a href="/accesorios" class="dropdown__link inline-block">
                                        Conocer más <i class="ri-arrow-right-s-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown__group">
                            <div class="dropdown__icon">
                              <i class="ri-megaphone-line"></i>
                            </div>

                            <span class="dropdown__title">Recall</span>
                            <p class="dropdown_text">
                              Llamado a revisión técnica. Averiguá si tu vehículo está alcanzado.
                            </p>
                            <ul class="dropdown__list">
                                <li>
                                    <a href="https://www.toyota.com.ar/mi-toyota/llamado-a-revision-tecnica" class="dropdown__link inline-block">
                                        Conocer más <i class="ri-arrow-right-s-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </li>

                <!--=============== DROPDOWN 3 ===============-->
                <li class="dropdown__item">                        
                    <div class="nav__link dropdown__button">
                        Nosotros <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <div class="dropdown__container">
                        <div class="dropdown__content">
                            <div class="dropdown__group">
                                <div class="dropdown__icon">
                                    <i class="ri-community-line"></i>
                                </div>

                                <span class="dropdown__title">Nosotros</span>

                                <ul class="flex flex-col items-start justify-center space-y-4 mt-4">
                                    <li>
                                        <a href="/nosotros/" class="dropdown__link">Nuestra historia</a>
                                    </li>
                                    <li>
                                        <a href="/noticias/" class="dropdown__link">Noticias</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                              <div class="dropdown__icon">
                                <i class="ri-seedling-line"></i>
                              </div>

                              <span class="dropdown__title">Sustentabilidad</span>
                              <p class="dropdown_text">
                                  Conocé las acciones que llevamos adelante en materia de sustentabilidad.
                              </p>
                              <ul class="dropdown__list">
                                  <li>
                                      <a href="/responsabilidad-social-empresarial" class="dropdown__link inline-block">
                                          Conocer más <i class="ri-arrow-right-s-line"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="/contacto" class="nav__link">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<style>
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #eb0a1e;
  --first-color-lighten: hsl(220, 68%, 97%);
  --title-color: black;
  --text-color: hsl(220, 12%, 45%);
  /*--body-color: hsl(220, 100%, 99%);*/
  --body-color: white;
  --kinto-color: #00708d;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  
  --normal-font-size: 2rem;
  --small-font-size: 1.5rem;
  --smaller-font-size: 1rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 2rem;
    --small-font-size: 1.5rem;
    --smaller-font-size: 1.2rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/


/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}
.nav__logo img {
  width: 25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__toggle-close {
  opacity: 0;
}
@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
    
  }
  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
    border-radius: 15px;
  }
  .nav__logo img {
  width: 17rem;
}
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  font-size: var(--small-font-size);
}
.nav__link:hover {
  background-color: var(--first-color-lighten);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
}
.dropdown__link img {
    width: 12rem;
    transition: all 0.2s ease;
}
.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}
.dropdown__content, .dropdown__group, .dropdown__list {
  display: grid;
}
.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}
.dropdown__content {
  row-gap: 1.75rem;
}
.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}
.dropdown__group:first-child {
  margin-top: 1.25rem;
}
.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}
.dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}
.dropdown__icon_kinto i {
  font-size: 1.25rem;
  color: var(--kinto-color);
}
.dropdown__icon_kinto img {
    width: 1.7rem;
    height: 1.7rem;
    object-fit: cover;
}
.dropdown__title,
.dropdown__title_kinto {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  width: max-content;
  border-bottom: solid 2px #eb0a1e;
}
.dropdown__title_kinto {
  border-bottom: solid 2px var(--kinto-color);
}
.dropdown__list {
  row-gap: 2rem;
  /*padding-right: 2.5rem;*/
}
.dropdown__group:last-child {
  border: none;
}
.dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
  justify-content: center;
}
.dropdown__link:hover {
  color: var(--title-color); 
}

.dropdown_text{
    font-size: 1rem;
    font-weight: var(--font-medium);
    color: var(--title-color);
}
/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 1rem;
    height: 100%;
  }
  .nav li {
    display: flex;
  }
  .nav__link {
    font-size: 1.2rem;
    padding: 0;
  }
  .nav__link:hover {
    background-color: initial;
  }
  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }
  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 5.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(5, max-content);
    column-gap: 2.5rem;
    max-width: 1120px;
    margin-inline: auto;
    justify-content: center;
  }
  .dropdown__group {
    justify-self: center;
    padding: 3rem 1rem;
    align-content: baseline;
    row-gap: 1.25rem;
    border-right: solid 1px var(--first-color-lighten);
  }
  .dropdown_text {
    width: 20rem;
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon,
  .dropdown__icon_kinto {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }
  .dropdown__icon i {
    font-size: 2rem;
  }
  .dropdown__icon_kinto i {
    font-size: 2rem;
}
    .dropdown__icon_kinto img {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
    }   
  .dropdown__title {;
    width: max-content;
    border-bottom: solid 2px #eb0a1e;
    font-size: var(--small-font-size);
  }
  .dropdown__link {
    font-size: var(--smaller-font-size);
  }
  .dropdown__link:hover {
    color: var(--title-color);
    transition: all 0.2s ease;
  }
  .dropdown__link img {
    margin-top: 1rem;
    width: 9rem;
    transition: all 0.2s ease;
  }
  .dropdown__link:hover img {
    transform: scale(1.05);
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}
</style>





