---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


interface Props {
  title: string;
  theme_color: string;
}

const { title, theme_color } = Astro.props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Mariano Joaquin Medina - Derka y Vargas S.A" />
    <meta name="keywords" content="Toyota, Derka y Vargas, Concesionario Oficial, Chaco, Argentina" /> <!-- SEO -->
    <meta name="robots" content="index, follow" /> <!-- SEO -->
    <meta name="theme-color" content= {theme_color} /> <!-- SEO -->
    
    <meta property="og:title" content={title} /> <!-- SEO -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="/images/concesionario/ruta.webp" />
    <meta property="og:description" content="Derka y Vargas S.A - Concesionario Oficial Toyota en Chaco" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content="Derka y Vargas S.A - Concesionario Oficial Toyota en Chaco" />
    <meta name="twitter:image" content="/images/Concesionario/ruta.jpg" />
    <link rel="canonical" href={Astro.url} />
    
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/images/faviconn.ico" />   
    <link rel="stylesheet" href="/css/styles.css"> <!-- Main CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/> <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.18/dist/lenis.css"> <!-- Lenis CSS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/> <!-- Remixicon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" /> <!-- GLightbox CSS -->
  </head>
  <body>
    

    <Header />
    <slot />
    <Footer />
    <script is:inline src="https://cdn.jsdelivr.net/npm/ukiyojs@4.1.2/dist/ukiyo.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script is:inline src="/js/main.js"></script>
    <script is:inline src="/js/menu.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
    <script is:inline>
       /**
       * Animation on scroll function and init
       */
      AOS.init({
        duration: 600,
        easing: 'ease-in-out',
        once: true,
        mirror: false
      });
      /**
       * Initiate glightbox
       */
      const glightbox = GLightbox({
        selector: '.glightbox'
      });

        /**
       * Preloader
       */
      const preloader = document.querySelector('#preloader');
      if (preloader) {
        window.addEventListener('load', () => {
          preloader.remove();
        });
      }

      /**
       * Scroll top button
       */
      let scrollTop = document.querySelector('.scroll-top');

      function toggleScrollTop() {
        if (scrollTop) {
          window.scrollY > 100 ? scrollTop.classList.add('active') : scrollTop.classList.remove('active');
        }
      }
      if (scrollTop) {
        scrollTop.addEventListener('click', (e) => {
          e.preventDefault();
          window.scrollTo({
            top: 0,
            behavior: 'smooth'
          });
        });
      }

      window.addEventListener('load', toggleScrollTop);
      document.addEventListener('scroll', toggleScrollTop);
      
      // smooth scroll Lenis
      const lenis = new Lenis();

      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);

      // Ukiyo
      const images = document.querySelectorAll('.ukiyo');
        images.forEach(image => {
          new Ukiyo(image, {
            scale: 1.2,
            speed: 2
          });
        });

    </script>
  </body>
</html>
<style is:global>
  /* Custom CSS GLightbox */
  .plyr--full-ui input[type=range]{
    color: var(--accent-color) !important;
  }

  .plyr__control--overlaid{
    background: #eb0a1e !important;
  }

  .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: #eb0a1e !important;
    color: #fff !important;
  }

  .plyr, 
  .plyr--video,
  .plyr__video-wrapper,
  .gslide-video {
    border-radius: 1rem !important;
  }
</style>

